{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "src/**/*.test.ts",
        "src/**/index.ts",
        "node_modules",
        "src/gen"
    ],
    "reporter": [
        "text",
        "html"
    ],
    "check-coverage": true,
    "lines": 75,
    "statements": 75
}
